#mycart-page{
    height: calc(100vh - 60px);
    background: #eeeeee;
    padding-top: 30px;
    .mycart-mainContent{
    height: calc(100vh - 60px - 108px);
    overflow: scroll;
    h3{
        background: white;
        padding: 10px;
    }
    .mycart-subHeading{
        font-weight: normal;
        font-size: 16px;
    }
    .mycart-itemDiv{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background: white;
    padding: 10px;
    margin-top: 15px;
    img{
        width: 80px;
        height: 80px;
    }
    .mycart-headingAndInfo{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        h4{
            margin: 0;
        }
    .mycart-qtyPriceContainer{
    display: grid;
    grid-template-columns: 4fr 50px;
    grid-gap: 50px;
    .mycart-qtyContainer{
        display: flex;
        align-items: center;
        gap: 10px;
        .mycart-btn{
            width: 23px;
            border-radius: 4px;
            padding: 5px;
            margin-top: 0px;
        }
    }
    }    
    }
}
 .mycart-otherInfo{
     display: flex;
     align-items: center;
     background: white;
     margin: 10px 5px;
     padding: 10px;
     border-radius: 5px;
     img{
      width: 80px;
      height: 30px;
     }
     .mycart-infoText{
      font-size: 14px;
      margin-left: 10px;
     }
 }
 .mycart-emptyInfo{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: calc(100vh - 60px - 108px - 60px);
 }
}
 .mycart-button{
    background: white;
    padding: 10px 0px;
    bottom: 0;
    position: sticky;
     p{
         text-align: center;
     }
     .checkoutBtn-outer{
        margin: 10px;
     button{
        margin-top: 5px;
        height: auto;
        padding: 15px;
        border-radius: 3px;
         .checkoutBtn-inner{
           display: flex;
           justify-content: space-between;
         }
     }
    }
 }
 .startShopping-button{
    padding: 10px;
    padding: 10px 0px;
    bottom: 0;
    position: sticky;
    button{
        margin-top: 5px;
        border-radius: 3px;
        padding: 15px;
        height: auto;
    }
}
}