body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-field{
    width: 100%;
    position: relative;
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
    input{
        width: 100%;
        height: 100%;
        padding-top: 12px;
        border: none;
        outline: none;
        &:focus + .floating-label .content-name,
        &:valid + .floating-label .content-name{
            transform: translateY(-150%);
            font-size: 14px;
            color: #87daf3;
        }
        &:focus + .floating-label:after,
        &:valid + .floating-label:after{
            transform: translateY(0%);
        }
    }
    label{
        position: absolute;
        bottom: 0px;
        left: 0%;
        width: 100%;
        height: 100%;
        color: #6e7070;
        pointer-events: none;
        border-bottom: 1px solid #6e7070;
        &::after{
            content: "";
            position: absolute;
            left: 0px;
            bottom: -1px;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid #87daf3;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }
    }
    .content-name{
        position: absolute;
        bottom: 5px;
        left: 0px;
        transition: all 0.3s ease;
    }
 }
 button[type="submit"]{
     width: 100%;
     margin-top: 30px;
     border: none;
     padding: 10px;
     background: #d10157;
     color: white;
     cursor: pointer;
     &:hover{
         background: #9b0241;
     }
 }

 button[type="button"]{
    width: 100%;
    margin-top: 30px;
    border: none;
    padding: 10px;
    background: #d10157;
    color: white;
    cursor: pointer;
    &:hover{
        background: #9b0241;
    }
}

 @media screen and (min-width: 576px) {
       .form-field{
        width: 50%;
        display: block;
        margin: 0 auto;
       }
       button[type="submit"]{
        width: 50%;
       }
    }
@media screen and (min-width: 992px) {
        #form{
            width: 35%;
        }
        .form-field{
            width: 60%;
    }
       button[type="submit"]{
        width: 60%;
       }
}